#map {
    height: 100%;
    margin-top: 60px;
  }
  
  html, body {
  position: relative;  
  height: 85%;
  margin: 0;
  padding: 0;
  }
  
  #down{
    position: absolute;
    left: 10px;
    
  }
  