body {
  background-image: url("C:\Users\pc\Documents\GitHub\archiweb\website\templates\03.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 55%;
}

form {
  border: 2px solid rgba(0, 0, 0, 0.526);
  background-color: rgba(36, 36, 36, 0.402);
  padding: 0px 0px;
  border-radius: 10px;
  padding: 130px 100px;
  align-items: center;
}

div.well {
  height: 250px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
}

hr {
  border-top: 2px solid;
  width: 100%;
}
